/* styles/simulateur.css */


.simulateur-container {
  display: flex;
  justify-content: space-between; /* Centre le contenu horizontalement */

  padding: 0 10%; /* Ajoute des marges de 10% de chaque côté */
}
.logo img{
  width: 190px;
  padding: 15px;
}

.form-section, .image-section {
  width: 40%; /* Chaque section prend 40% de la largeur */
}

.image-section{
  margin-top: 60px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; /* Espace intérieur pour le formulaire */
}

.image-section img {
  width: 100%; /* L'image prend toute la largeur de la section */
  height: auto; /* Maintient le ratio de l'image */
  border-radius: 8px; /* Ajoute un arrondi aux coins si désiré */
}

.container {
    width: 80%;
    /* Prend 80% de la largeur de la page */
    margin: 0 auto;
    /* Centrer le conteneur */
    padding: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    /* Couleur de fond blanche */
}

h2 {
    color: #333;
    /* Couleur de texte foncé */
    text-align: center;
    /* Centrer le texte */
    margin-bottom: 20px;
    /* Espacement inférieur */
}

button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid black;
  
  /* Flexbox pour centrer l'image et le texte */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 50px; /* Espacement entre l'image et le texte */
}
/* Ajustements de l'icône */
.icon {
  width: 40px;
  height: 40px;
}

/* Ajustement spécifique pour l'icône flèche */
.icon-arrow {
  width: 25px;
  height: 25px;
  margin-left: auto; /* Pousse l'icône de flèche à l'extrême droite */
}

.energy-button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Alignement vertical pour les montants mensuel et annuel */
.monthly-amount {
  font-weight: bold;
}

.annual-price {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

/* Positionnement de l'icône de flèche */
.icon-arrow {
  width: 25px;
  height: 25px;
  margin-left: auto; /* Pousse la flèche à l'extrême droite */
}


button:hover {
    background-color: #d4e6b5;
    /* Couleur au survol */
}
.contact-form {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #4CAF50;
  outline: none;
}

.submit-btn {
  background-color: #FFDF64;
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-btn:hover {
  background-color: #45a049;
}

.content {
    display: flex; /* Utiliser Flexbox pour la mise en page */
    justify-content: space-between; /* Espace entre les éléments */
  }
  
  .choices {
    flex: 1; /* Prendre toute la largeur disponible à gauche */
    padding-right: 20px; /* Espacement entre les choix et l'image */
  }
  
  .image {
    flex: 1; /* Prendre toute la largeur disponible à droite */
    display: flex; /* Flex pour centrer l'image */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
  }
  
  .image img {
    max-width: 100%; /* L'image ne déborde pas */
    height: auto; /* Conserver le ratio d'aspect */
    border-radius: 10px; /* Coins arrondis pour l'image */
  }

  /* dashboard */

  /* src/styles/dashboard.css */
/* styles/simulateur.css */

.dashboard-container {
    display: flex;
    flex-direction: row; /* Change l'orientation pour empiler les éléments */
    align-items: center; /* Centre les éléments horizontalement */
    padding: 20px; /* Ajoute du padding autour du conteneur */
  }
  
  .card-dashboard {
    display: flex;
    flex-direction: column; /* Empile les informations verticalement */
    background-color: #fff; /* Couleur de fond de la carte */
    border-radius: 20px; /* Arrondir les coins de la carte */
    padding: 20px; /* Ajoute du padding à l'intérieur de la carte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre à la carte */
    margin: 10px; /* Ajoute une marge entre les cartes */
    width: 300px; /* Largeur fixe pour les cartes */
  }
  
  .dashboard-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si l'espace est insuffisant */
    gap: 20px; /* Espace entre les cartes */
  }
  
  .dashboard-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px; /* Largeur de la sidebar */
    background-color: #f4f4f4; /* Couleur de fond */
    padding: 20px;
    height: 100vh; /* Hauteur de la sidebar */
    position: fixed; /* Position fixe */
  }
  
  .main-content {
    margin-left: 260px; /* Marge à gauche pour le contenu principal */
    padding: 20px;
    flex: 1; /* Prendre le reste de l'espace */
  }
  
  .sidebar h2 {
    font-size: 1.5em; /* Taille du titre */
  }
  
  .sidebar ul {
    list-style: none; /* Supprimer les puces */
    padding: 0; /* Supprimer le padding */
  }
  
  .sidebar li {
    margin: 15px 0; /* Espacement entre les liens */
  }
  
  .sidebar a {
    text-decoration: none; /* Pas de soulignement */
    color: #333; /* Couleur des liens */
  }
  
  .sidebar a:hover {
    text-decoration: underline; /* Soulignement au survol */
  }
  .blog-image {
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
    height: auto; /* Garde les proportions de l'image */
    border-radius: 24px; /* Ajoute un léger arrondi aux coins */
    margin-bottom: 1rem; /* Ajoute un espacement en bas de l'image */
  }
/* src/styles/simulateur.css ou un autre fichier CSS */
.create-blog-button {
  background-color: #4CAF50; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement interne */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointer */
  margin-bottom: 20px; /* Espacement en bas */
  font-size: 16px; /* Taille de police */
}

.create-blog-button:hover {
  background-color: #45a049; /* Couleur de fond au survol */
}
  

.lead-list-container {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.lead-card {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.lead-card-header {
  background-color: #f5f5f5;
  text-align: center;
}

.table-actions {
  display: flex;
  gap: 8px;
}
.lead-list-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.dashboard-card {
  flex: 1;
  padding: 16px;
  text-align: center;
}
.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  margin: 10px 0 20px;
  overflow: hidden;
}

.progress {
  background-color: #FFDF64;
  height: 100%;
  transition: width 0.4s ease;  
}


/* Container principal */
.merci-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #00214d;
  text-align: center;
}

/* Header */
.merci-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  height: 40px;
}

.header-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.print-link {
  color: #6a5bd9;
  font-size: 14px;
  text-decoration: none;
}

.phone-number {
  color: #6a5bd9;
  font-size: 14px;
}

/* Stepper */
.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.step.completed {
  color: #00214d;
  background-color: #e8f3ff;
}

.step.active {
  color: #ffffff;
  background-color: #FFDF64;
}

.step-number {
  background-color: #e8f3ff;
  color: #00214d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Notification */
.notification {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.notification h3 {
  color: #00214d;
  font-size: 16px;
}

.notification p {
  color: #555555;
  font-size: 14px;
}

/* Address */
.address {
  background-color: #e8f3ff;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  color: #00214d;
  font-size: 14px;
}

/* User Info */
.user-info h1 {
  color: #00214d;
  font-size: 24px;
  margin: 5px 0;
}

.user-info h2 {
  color: #00214d;
  font-size: 20px;
  margin: 5px 0;
}

.user-info p {
  color: #6a5bd9;
  font-size: 16px;
}

.solar-recommendation {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.recommendation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #4a90e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.power {
  color: #4a90e2;
  font-size: 24px;
  font-weight: bold;
}

.battery-option {
  margin-top: 10px;
  font-size: 14px;
}

.recommendation-details {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.recommendation-stat {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  line-height: 2.5;
}

.recommendation-stat strong {
  font-weight: bold;
  color: #4a90e2;
}

.recommendation-map {
  margin-top: 20px;
  text-align: center;
}

.recommendation-map img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.see-sunlight {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.merci-info{
  display: flex;
  gap: 50px;
}

.autoconsommation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  margin-top: 20px;
}

.autoconsommation-text {
  width: 50%;
  font-size: 14px;
  color: #333;
}

.autoconsommation-text h3 {
  font-size: 18px;
  font-weight: bold;
  color: #1a1a1a;
}

.autoconsommation-text p {
  margin-top: 10px;
  color: #666;
}

.autoconsommation-graph {
  width: 45%;
  text-align: center;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #666;
}

.legend .consumption {
  color: #AFC97E;
}

.legend .production {
  color: #FFDF64;
}

.graph-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-bottom: 10px;
}

.time-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
}



@media (max-width:576px) {
  .simulateur-container{
    display: grid;
  }
  .form-section{
    width: 100%;
  }
  .logo{
    width: 100px;
    height: auto;
  }
  .print-link{
    display: none;
  }
  .phone-number{
    font-size: 20px;
  }
  .none{
    display: none;
  }
  .merci-container{
    width: 90%;
  }
  .recommendation-header h2, .recommendation-header span {
    font-size: 16px;
  }
  .merci-info{
    display: grid;
  }
  .autoconsommation-section{
    display: grid;
  }
}

